@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
    background-color: #1d1e20;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#ddButton {
    background-color: #1d1e20;
    color: whitesmoke;
    padding: 14px 22px;
    font-size: 30px;
    border: none;
}

#dropdownLinks {
    display: none;
    position: absolute;
    background-color: #1d1e20;
    min-width: 120px;
}

#dropdownLinks a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown:hover #dropdownLinks{
    display: block;
    float: right;
}

#dropdownLinks a:hover {
    color: black;
    background-color: #3f1d59;
}

#dropdown:hover #ddButton{
    background-color: #3f1d59;
}

#pfp img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

#banner h1,h3{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 20px;
    margin: auto;   
}

#links {
    text-decoration: none;
    position: relative;
    top: 10px;
    text-align: center;
    margin: auto; 
}

#footer {
    color: whitesmoke;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%


}