@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    background: whitesmoke;
    background-color: #1d1e20;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#ddButton {
    background-color: #1d1e20;
    color: whitesmoke;
    padding: 14px 22px;
    font-size: 30px;
    border: none;
}

#dropdownLinks {
    display: none;
    position: absolute;
    background-color: #1d1e20;
    min-width: 120px;
    z-index: 1;
}

#dropdownLinks a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#dropdown:hover #dropdownLinks{
    display: block;
    float: right;
}

#dropdownLinks a:hover {
    color: black;
    background-color: #3f1d59;
}

#dropdown:hover #ddButton{
    background-color: #3f1d59;
}

#pfp img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    
}

#banner h1,h3{
    color: whitesmoke;
    text-align: center;
    position: relative;
    top: 20px;
    margin: auto;   
}

#links {
    text-decoration: none;
    position: relative;
    top: 10px;
    text-align: center;
    margin: auto; 
}

#footer {
    color: whitesmoke;
    text-align: center;
    position: relative;
    bottom: 0px;
    width: 100%;
}

#aboutmehead h1 {
    color: whitesmoke;
    text-align: center;
    top: 20px;
    margin: auto;   
}

#pfpam img{
    border-radius: 50%;
    width: 180px;
    height: 180px;
    display: block;
    margin-left: 340px;
    margin-top: 50px;
    
}

#video{
    float: right;
    padding-right: 80px;
    margin-top: -150px;
}

#middle p {

    color: whitesmoke;
    text-align: center;
    font-size: 18px;
    top: 80px;
    margin-left: 20px;
    margin-right: 700px;
}

#contact {
    background: linear-gradient(#064893,#3f1d59);
    border-style: solid;
    border-color: whitesmoke;
    border-width: 2px;
    padding: 15px;
    text-align: center;
    width: 300px;
    height: 500px;
    margin: auto;
}

#contact label{
    text-align: center;
    color: whitesmoke;
    font-size: 15px;
    margin: auto;
}

#contact input{
    background-color: #1d1e20;
    color: whitesmoke;
}

#contact p{
    font-weight: bold;
}

#contact textarea {
    background-color: #1d1e20;
    color: whitesmoke;
    resize: none;
}

#submitB {
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding-top:2%;
}

a {
    text-decoration: none;
}